Repository lab-antwerp-1/group4-soc-a-list, pull requests merged in 2022-03, with the labels that each got.

#37 Instructions section
  client/src/handlers/README.md
  client/src/handlers/help-section.js
  client/src/init/README.md
  client/src/init/index.js
  client/src/listeners/README.md
  client/src/listeners/help-section.js
  client/styles/main.css
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  index.html
  planning/development-strategy.md
Labels: development, type html, type css, must have, type js, for intro section

#38 8 - done/undone checkbox
  client/public/checked.png
  client/public/unchecked.png
  client/src/components/render-table.js
  client/styles/main.css
Labels: development, type html, type css, should have, for checkbox

#39 5.0 css setup
  client/src/components/render-table.js
  client/styles/main.css
Labels: development, Style

#40 9 sort dropbox
  client/data.js
  client/src/components/README.md
  client/src/handlers/sort-list.js
  client/src/init/index.js
  client/src/listeners/sort-list.js
  client/src/logic/README.md
  client/src/logic/table-sorter.js
  client/src/logic/table-sorter.spec.js
  client/styles/main.css
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  index.html
Labels: development, type html, type css, type js, should have, for sort list

#41 Retrospective
  client/src/components/render-table.js
  client/src/handlers/input-items.js
  client/src/handlers/remove-item.js
  client/src/handlers/sort-list.js
  client/src/logic/array-list.js
  client/src/logic/array-list.spec.js
  client/styles/main.css
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  index.html
  planning/development-strategy.md
  planning/retrospective.md
Labels: documentation, must have

#42 Update function documentation
  client/src/handlers/README.md
  client/src/handlers/help-section.js
  client/src/handlers/sort-list.js
  client/src/listeners/README.md
  client/src/logic/table-sorter.js
  docs/README.md
Labels: documentation, must have

#43 11 edit and remove item button svg
  client/src/components/render-table.js
  client/src/handlers/edit-description.js
  client/src/handlers/new-description.js
  client/src/handlers/remove-item.js
  client/styles/main.css
Labels: development, type html, type css, type js, for remove button, for edit, fix
