Repository lab-antwerp-1/group4-soc-a-list, pull requests merged in 2022-02, with the labels that each got.

#2 Planning
  .vscode/settings.json
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/development-strategy.md
Labels: documentation, must have

#21 Planning: readme page
  planning/README.md
  planning/development-strategy.md
Labels: documentation, must have

#20 1 - page intro section: instructions/header
  client/styles/index.css
  index.html
Labels: development, type html, type css, must have, for intro section

#22 design documents added to the project
  client/public/Desktop.png
  client/public/Mobile-wireframe.png
  planning/design.md
Labels: documentation, must have

#23 2 input add
  client/src/handlers/README.md
  client/src/handlers/input-items.js
  client/src/init/README.md
  client/src/init/index.js
  client/src/listeners/input-items.js
  client/src/logic/README.md
  client/src/logic/array-list.js
  client/src/logic/array-list.spec.js
  client/styles/index.css
  index.html
  planning/development-strategy.md
Labels: development, must have

#25 update add feature
  client/data.js
  client/src/handlers/input-items.js
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  index.html
  package-lock.json
Labels: development, type html, type css, must have, type js, for input section

#26 3 - for: list display
  client/public/trash-2.png
  client/src/components/README.md
  client/src/components/render-list.js
  client/src/handlers/input-items.js
  client/src/init/index.js
  client/styles/index.css
  client/styles/other-file.css
  index.html
  planning/development-strategy.md
Labels: development, type html, type css, must have, type js, for display

#27 4-for: remove button - version 2
  client/src/components/render-list.js
  client/src/handlers/README.md
  client/src/handlers/remove-item.js
  client/src/init/index.js
  client/src/listeners/remove-list.js
Labels: development, must have, type js, for remove button

#28 11 - for: use "Enter" key get input
  client/src/handlers/README.md
  client/src/handlers/input-items.js
  client/src/listeners/input-items.js
  index.html
Labels: type html, type js, should have, for input section

#30 for Enter key get input: stop handling Enter key in textarea
  client/src/handlers/input-items.js
Labels: type js, for input section

#32 stop using template literal
  client/src/handlers/input-items.js
  client/src/handlers/remove-item.js
Labels: fix

#29 7 for: description edit
  client/public/description-edit-3.png
  client/src/components/README.md
  client/src/components/render-list.js
  client/src/components/render-table.js
  client/src/handlers/edit-description.js
  client/src/handlers/input-items.js
  client/src/handlers/new-description.js
  client/src/handlers/remove-item.js
  client/src/init/index.js
  client/src/listeners/edit-description.js
  index.html
Labels: development, type html, type css, type js, should have, for descriptions

#33 6 - for: feature delete reset list
  client/src/handlers/README.md
  client/src/handlers/remove-item.js
  client/src/listeners/remove-list.js
  index.html
Labels: type html, must have, type js, for reset list

#35 update- for - input- : clear input box after add
  .vscode/settings.json
  client/src/handlers/input-items.js
Labels: must have, type js, for input section

#34 styling is done partially, still need more work
  client/public/alert-circle.png
  client/public/bg.png
  client/public/format-icon.png
  client/public/share-2.png
  client/public/sort-icon.png
  client/public/trash-gry.png
  client/src/components/render-table.js
  client/styles/index.css
  client/styles/main.css
  index.html
Labels: help wanted, development

#36 7 description edit
  README.md
  client/src/components/README.md
  client/src/components/render-table.js
  client/src/handlers/README.md
  client/src/handlers/edit-description.js
  client/src/handlers/new-description.js
  client/src/handlers/remove-item.js
  client/src/init/README.md
  client/src/init/index.js
  client/src/listeners/README.md
  client/src/listeners/edit-description.js
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  index.html
Labels: development, type html, type css, type js, should have, for edit
